.clients {
    padding: 60px 0;
@media screen and (min-width: 1200px) {
    padding: 94px 0;
}

}

.clients__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
@media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    }
    
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 30px;
    
@media screen and (min-width: 1200px) {
    margin-bottom: 50px;
}

    
}

.clients__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
}
.clients__item {
    margin: 15px;

}

    
.clients__icon {
    fill: currentColor;
}
.clients__link { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    
@media screen and (min-width: 768px) {
    width: 226px;
}   
@media screen and (min-width: 1200px) {
    width: 170px;
}

    border: 1px solid $icon-color;
    border-radius: 4px;
    color: $icon-color;
    
    transition: color $transition-duration $transition-timing-function,
    border-color $transition-duration $transition-timing-function;
    

    &:hover,
    &:focus {
        color: $hover-color;
        border-color: $hover-color;
    }
}

