.footer {
    background-color: $footer-background-color;
    padding: 60px 0;
}

// // address footer block
.address-container {
    @media screen and (min-width: 768px) {
        margin-right: 165px;
    }

    @media screen and (min-width: 1200px) {

        margin-right: 70px;
    }
}

.footer__logo {
    color: $light-logo-color;
}

.logo--position {
    text-align: center;
    margin-bottom: 20px;
    padding: 0;

    @media screen and (min-width: 1200px) {
        margin-right: 0;
    }

    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}


.address__item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    color: $light-maintext-color;
    margin-bottom: 9px;

    @media screen and (min-width: 768px) {
        text-align: start;
    }
}

.address__item:last-child {
    margin-bottom: 0;
}

.address__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: color $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
        color: $hover-color;
    }
}

.address__list {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;

    }
}

.footer-socials {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }

}

.footer-socials__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: start;

    }

    color: $light-maintext-color;

    margin-bottom: 20px;
}

.footer-socials__list {
    display: flex;
    justify-content: center;


}

.footer-socials__item {
    margin-right: 10px;

}

.footer-socials__item:last-child {
    margin-right: 0;
}

.footer-socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: $light-maintext-color;

    transition: background-color $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
        background-color: $hover-color;
    }
}

.footer-socials__icon {
    fill: currentColor;
}


.container--flexible {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }
}


// // footer-mailing

.footer-mailing__container {
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.footer-mailing {
    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
}

.footer-mailing__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 1200px) {
        text-align: start;
    }

    color: $light-maintext-color;
    margin-bottom: 20px;
}

.footer-form {
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }

}

.footer-form__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: $footer-background-color;

    @media screen and (min-width: 768px) {
        width: 450px;
    }

    width: 100%;

    @media screen and (min-width: 1200px) {
        width: 385px;
        margin-right: 10px;
    }

    height: 50px;
    padding: 0 16px;

}

.footer-form__input:focus-within {
    color: $light-maintext-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.footer-form__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer-button {
    font-family: inherit;
    font-style: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: $light-maintext-color;

    cursor: pointer;
    background-color: $logo-color;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 0 28px;
    width: 100%;
    max-width: 200px;
    height: 50px;
    border-style: none;

    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        margin-right: 10px;
    }

    margin-left: auto;
    margin-right: auto;
}