.function {
    display: none;

    @media screen and (min-width:1200px) {
        display: block;

    }

    padding-bottom: 94px;

}

.function__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.function__list {
    display: flex;
    margin: -15px;
}

.function__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
    position: relative;
}

.function-image {
    display: block;
}

.function__label {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: $light-maintext-color;

    background: rgba(47, 48, 58, 0.8);

    padding-top: 27px;
    padding-bottom: 27px;
}