.team {
    background-color: $secondary-background-color;
    padding: 60px 0;
@media screen and (min-width: 1200px) {
    padding: 94px 0; }
}

.team__title {
    margin-bottom: 30px;
@media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    }
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.team__list {
@media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.team__item { 
    padding-bottom: 30px;

    background: $card-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    margin-bottom: 30px;

@media screen and (min-width: 768px) { 
        margin: 15px;
        width: calc((100% - 60px) / 2); }

@media screen and (min-width: 1200px) {
    margin: 15px;
    width: calc((100% - 120px) / 4); }
} 

    
.team__image {
    width: 100%;
    margin-bottom: 30px;
}
.team__subtitle { 
 font-weight: 500;
 font-size: 16px;
 line-height: 1.19;
 text-align: center;

 margin-bottom: 10px;
}
.team__text { 
    color: $paragraph-color;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    
    margin-bottom: 16px;

}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials__item {
    margin-right: 10px;
}
.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $icon-color;

    transition: color $transition-duration $transition-timing-function,
    background-color $transition-duration $transition-timing-function;
}

.socials__link:hover,
.socials__link:focus {
    color: $light-maintext-color;
    background-color: $hover-color;
}

.socials__icon {
    fill: currentColor;
}

